<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Designer</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Research Question</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Formulate the research question of your thesis project.</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="questions" id="questions" maxlength="200"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
   			<b>Your problem statement and motivation:</b><br>
		  	<label id="lblallProblems"></label> <br><br><br>
		   	<b>Guiding Questions</b> <br>
		  	<label>Why are you interested in that problem?</label> <br> <br>
			<label>Which aspects of the problem would you like to understand better?</label> <br> <br>
		   	<label>What part of the overall problem would you like to change or improve?</label> <br> <br>
		  	<label>How would you like to do research on that specific problem?</label> <br> <br>
			<label>Does your research question include many sub-questions?</label> <br> <br>
		   	<label>How would you formulate a preliminary set of possible research questions?</label> <br> <br>

	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="questions1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="questionSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="questionSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/questionController.js"></script>
	
</body>
</html>
