<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Designer</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Overview</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Please check your input again. You can directly perform changes here, if you want. When you are ready, save your data clicking the button down right.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage"  maxlength="200"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Checklist</b> <br>
			  	<label>You clearly stated the probem.</label> <br> <br>
				<label>You explicitly describe the problem context, i.a. affected people, timely conditions, topic-relation, consequences.</label> <br> <br>
		   		<label>You connected your problem with the topic areas of your thesis project.</label> <br> <br>
		   		<label>You made clear why the problem is relevant to science.</label> <br> <br>
		   		<label>You showed the practical relevance of the problem.</label> <br> <br>
		   		<label>You provided key concepts and terms for problem understanding.</label> <br> <br>
		   		<label>Optional: You disassembled the problem.</label> <br> <br>
		   		<label>Optional: You mentioned your personal motivation behind the problem selection.</label> <br> <br>
		   		<label>Optional: You provided empirical data or sources to emphasize the problem's relevance.</label> <br> <br>
		   		
		   </div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="problem1.html"><img alt="" src="../../icons/1.png"></a> 
		  			<a id="checkButton" class="active" href="problemSave.html"><img alt="" src="../../icons/notepad.png"></a> 
				  	<!-- <a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a> 
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/problemController.js"></script>
</body>
</html>
