<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Designer</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Overview</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Please check your input again. You can directly perform changes here, if you want. When you are ready, save your data clicking the button down right.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage"  maxlength="100"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Checklist</b> <br>
			  	<label>The chosen methods, techniques and tools match your set of research strategies.</label> <br> <br>
				<label>You can map chosen methods, techniques and tools to components of your research design.</label> <br> <br>
		   		<label>You have stated preconditions for the use of the chosen methods, techniques and tools.</label> <br> <br>
		   		<label>You have chosen methods, techniques and tools appropriate for your research question and research goal.</label> <br> <br>
		   		<label>You have analyzed existing research designs related to methods, techniques and tools that were employed.</label> <br> <br>
		   		<label>You have the skills to apply the chosen methods, techniqes and tools.</label> <br> <br>
		   </div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="methods1.html"><img alt="" src="../../icons/1.png"></a> 
				  	<a class="active" href="methodSave.html"><img alt="" src="../../icons/notepad.png"></a> 
<!-- 				  	<a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a>
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/methodController.js"></script>
</body>
</html>
