<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Designer</title>
</head>
<body>
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Personal Data</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Experience</h3>
	  </div>
	  <div class="InputArea">
	  	<div class="wrapper">
	  	<textarea class="WholePageArea" id="experience" maxlength="100"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Guiding Questions</b> <br> <br>
		  	<label>In which area of your studies have you taken the most courses?</label> <br><br>
			<label>What is your experience with doing research work, e.g. seminar theses, group project work, final theses?</label> <br> <br>
			<label>What's the title of your last scientific work?:</label> <br>	
		  	<label>	In which area would you position it:</label> <br>
			<label>			Management, Business, Economy,</label> <br>
			<label>			Information Systems, Computer Science,</label> <br>
			<label>			Maths, other</label> <br>
			<label>		What was the topic?</label> <br> 
			<label>		What was the problem or phenomenon you did research on?</label> <br> 
			<label>		What was the research question?</label> <br> 
			<label>		Which methods and techniques did you apply to answer that question?</label> <br> 
			<label>		Have you had fun with that work?</label> <br> 
	   </div>
	  </div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
			<div class="persNavbar">
			 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
		 	 	<a href="pers1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
		  	 	<a href="pers2.html" onclick="saveInSession()"><img alt="" src="../../icons/2.png"></a> 
		  	 	<a href="pers3.html" onclick="saveInSession()"><img alt="" src="../../icons/3.png"></a> 
		  	 	<a class="active" href="pers4.html" onclick="saveInSession()"><img alt="" src="../../icons/4.png"></a> 
		  	 	<a href="pers5.html" onclick="saveInSession()"><img alt="" src="../../icons/5.png"></a> 
			  	<a href="pers6.html" onclick="saveInSession()"><img alt="" src="../../icons/6.png"></a> 
			  	<a id="checkButton" href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
			  	<a id="nextButton" href="pers5.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
			  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
			  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
			</div>
		</div> 	
	  </div>
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript">
		if(sessionStorage.getItem("exp")){
			document.getElementById("experience").innerHTML = sessionStorage.getItem("exp")
		}

		function saveInSession() {
			var data = document.getElementById("experience").value
			sessionStorage.setItem("exp", data);
		}
	</script>
</body>
</html>
