<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Design</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Research Design</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Here you provide details on the overall study design, i.e. research design. You define and describe the framework for your research study.</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="design" id="design"  maxlength="100"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Guiding Question</b> <br>
		  	<label>How would you describe your planned research from a top perspective?</label> <br><br>
		   	<label>What are the boundaries of your planned research?</label><br><br>
		   	<label>What are the main components of your planned research?</label> <br><br>
		   	<label>Does your research design contain iterations and/or cycles?</label> <br><br>
			<label>Which possible constraints may influence the success of your research design's implementation?</label> <br> <br>
		  	<label>Can you answer your research question with that research design?</label> <br><br> <br>
		   	<label>Can you ensure access to essential resources for your research design, i.a. people, data, tools etc.?</label> <br><br>
		   	<label>Do you know existing research designs you may adapt?</label> <br><br>
		   
			<b>Your research problem</b><br>
			<label id="lblproblem"></label> <br> <br> <br>
		   	<b>Your research question</b><br>
			<label id="lblquestion"></label> <br> <br> <br>

	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="design1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/designController.js">
	</script>
	
</body>
</html>
