<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Thesis Designer</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Research Outcome</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Here you provide details on the outcome of your research efforts, i.e. what you produce with your research.</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="result" id="result"  maxlength="100"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Guiding Questions</b> <br>
		  	<label>Which outputs do you produce after implementing your research design?</label> <br><br>
		  	<label>Would others (e.g. supervisors) expect this sort of outputs from your research design? </label> <br> <br>
		   	<label>Do your research outcomes follow from your chosen methods, techniques and tools? </label> <br> <br>
		  	<label>Are you going to achieve your research goal?</label> <br><br>
		   	<label>Which kind of knowledge contribution do you make with your research efforts and outcomes?</label> <br><br>
		   	<label>Who has an interest in the outcome of your research?</label> <br><br> 
												
												 
	  		<b>Your Research Design</b><br>
			<label id="lbldesign"></label> <br> <br> <br>
		  	<b>Your Research Question</b><br>
			<label id="lblquestion"></label> <br> <br> <br>
			<b>Your Research Goal</b><br>
			<label id="lblgoal"></label> <br> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="result1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="resultSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="resultSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/resultController.js">
		
	</script>
	
</body>
</html>
